/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
#wptm_team_members {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 2.5rem;
}

.wptm_team_member {
   background-color: #f9f9f9;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#wptm_team_members img {
    border-radius: 50%;
    margin: 0 10px;
    height: 100px;
    width: 100px;
}

#wptm_team_members .wptm_team_member a {
    text-decoration: none;
}

#wptm_team_members .wptm_team_member a:hover {
    color: blue;
}

.wptm_see_all {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    text-decoration: none;
    padding: .7rem 1rem;
    background: #725b5b;
    border-radius: 3px;
    color: #fff;
}
.wptm_see_all:hover {
    background: #c97575;
}

#wptm_team_members h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}
#wptm_team_members h4 {
    margin: 0.35rem 0;
    font-size: 1rem;
}
.text-danger{
    color: red;
}

.wptm_pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.wptm_pagination ul {
    display: flex;
    list-style: none;
}

.wptm_pagination li {
    margin: 0 .5rem;
}

.wptm_pagination li span {
    text-decoration: none;
    padding: .5rem 1rem;
    margin: 0 .5rem;
    border-radius: 3px;
    background: #00a32a;
    color: #fff;
}

.wptm_pagination a {
    text-decoration: none;
    padding: .5rem 1rem;
    margin: 0 .5rem;
    border-radius: 3px;
    background: #725b5b;
    color: #fff;
}

.wptm_pagination a:hover {
    background: #c97575;
}