/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
#wptm_team_members {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.5rem;
}

.wptm_team_member {
   background-color: #f9f9f9;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#wptm_team_members img {
    border-radius: 50%;
    margin: 0 10px;
    height: 100px;
    width: 100px;
}

#wptm_team_members .wptm_team_member a {
    text-decoration: none;
}

#wptm_team_members .wptm_team_member a:hover {
    color: blue;
}

#wptm_team_members h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}
#wptm_team_members h4 {
    margin: 0.35rem 0;
    font-size: 1rem;
}
.text-danger{
    color: red;
}